a {
  text-decoration: none;
  color: inherit; 
}
a:hover {
  color: #404bbf;
}
a:focus {
   color: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}
ul {
  list-style: none;
}
