.features {
  list-style-type: none;
  padding: 144px 0 144px 0;
}
.features > h3 {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 20px;
}
.features > p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}
.features-list {
  padding-left: 15px;
  padding-right: 15px;
  gap: 24px;
  width: 1158px;
  display: flex;
  margin: 0 auto;
}
.title-features {
  display: none;
}