.footer {
  background-color: #2e2f42;
}
.footer-paragraf{
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}
.white {
  color: #f4f4fd;
  font-family: "Raleway";
  font-weight: 700;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   line-height: 1.33;
   font-size: 18px;
}
.ocean {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.33;
  font-size: 18px;
}

